<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mall.pay.mapper.PayChannelMapper">

    <resultMap id="BaseResultMap" type="com.yu.mall.pay.model.entity.PayChannel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="channelCode" column="channel_code" jdbcType="VARCHAR"/>
            <result property="channelPriority" column="channel_priority" jdbcType="INTEGER"/>
            <result property="channelIcon" column="channel_icon" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="creater" column="creater" jdbcType="BIGINT"/>
            <result property="updater" column="updater" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,channel_code,
        channel_priority,channel_icon,status,
        creater,updater,create_time,
        update_time
    </sql>
</mapper>
